{% extends 'base.html' %}

{% block title %}
Administrador
{% endblock %}

{% block content %}

<div class= "alert alert-info">
  <div class="bs-docs-example">
    <ul id="myTab" class="nav nav-tabs">
      <li class="active"><a href="#espacios" data-toggle="tab"> <h4> espacio </h4></a></li>
      <li class=""><a href="#usuarios" data-toggle="tab"> <h4> Usuarios </h4> </a></li>
      <li class=""><a href="#bibliotecarios" data-toggle="tab"><h4> Bibliotecario</h4></a></li>
      <li class=""><a href="#prestamos" data-toggle="tab"><h4> Préstamos</h4></a></li>
      <li class=""><a href="#consultas" data-toggle="tab"><h4> Consultas</h4></a></li>
      <li class=""><a href="#reportes" data-toggle="tab"><h4>Reportes</h4></a></li>
    </ul>


    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="espacios">
        <p>
          <p><i class=" icon-book icon-black"></i> <a  href="{% url 'vista_espacios'%}"> Espacios </a></p>
        </div>
        <div class="tab-pane fade" id="usuarios">

          <p><i class="icon-user icon-black"></i> <a href="{% url 'vista_tipos_usuarios' %}">Tipo de usuarios</a></p>
    
          <p><i class=" icon-user icon-black"></i> <a href="{% url 'vista_usuarios' %}">Usuarios</a></p>


        </div>
        <div class="tab-pane fade" id="bibliotecarios">
          <p><i class="icon-user icon-black"></i><a  href="{% url 'vista_bibliotecarios'%}"> Bibliotecario </a></p>
          
        </div>
        <div class="tab-pane fade" id="prestamos">
          <p><i class="icon-share icon-black"></i><a  href="{% url 'vista_prestamos'%}"> Préstamos </a></p>
          <p><i class="icon-share icon-black"></i><a  href="{% url 'vista_reservas'%}"> Reservas </a></p>
        </div>
        <div class="tab-pane fade" id="consultas">
          <p><i class="icon-search icon-black"> </i><a  href="{% url 'vista_consultar_usuario_id' %}">Consultar usuario</a></p>
        </p>    
      </div>

      <div class="tab-pane fade" id="reportes">
          <p><i class="icon-list-alt icon-black"> </i><a  href="{% url 'vista_reporte_usuarios_mes' %}"> Reporte usuarios por mes </a></p>
      </div>

    </div>
  </div>
</div>
{% endblock %} 
