{% extends 'base.html' %}
{% block title %} Reportes {% endblock %}
{% block content %}
	
	<h3>Reportes</h3>
	<div align="center">
		<img alt="700x240" style="width: 700px; height: 240px;" src="/media/images/reportes.jpg">
		<p>Seleccione una opción para ver el reporte que necesita.</p>

	</div>
	<br>
	<a class="btn btn-info" href="/reportes/usuarios_por_mes"><li class="icon-search"></li> Ver Reporte </a>
	Lista de usuarios que hicieron prestamos de espacios en el mes
	<br>
	<br>
	

<p><a href="/" class="btn btn-primary 	">Regresar al Inicio</a></p>
{% endblock %}