{% extends 'base.html' %}

{% block title %}
	Lista de usuarios 
{% endblock %}

{% block content %}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="True">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel"> Eliminar Usuario</h3>
		</div>
		<div class="modal-body">
		<p>¿Esta seguro que desea eliminar el tipo de usuario con nombre <span id="modal_name"></span>?</p>

		</div>
		<div class="modal-footer">
			<form method="POST" id="frmEliminar">
				{% csrf_token %}
				<input type="hidden" id="modal_idProducto" name="product_id">
				<button class="btn" data-dismiss="modal" aria-hidden="True">Cerrar</button>
				<button type="submit" class="btn btn-danger">Eliminar</button>
			</form>	
		</div>
	</div>

	<h3>Tipos de usuarios</h3>
	{% if user.is_authenticated and user.is_staff and user.is_superuser %}	

		<a <a class="btn btn-info"  href="/add/tipo-usuario/{{ t.id }}"> <li class="icon-plus"></li>Agregar tipo de usuario</a>
	{% endif %}
	<br>
	{% if tipos_usuarios %}
	<table class= "table table-hover" id="tabla_productos">
	
		{% for p in tipos_usuarios %}
		
		
			<tbody>
				<tr id="tr{{p.id}}">

					<td><p>{{ p.nombre }}</td>
					{% if user.is_authenticated and user.is_staff and user.is_superuser %}		
						<td><a class="btn btn-warning" href="/edit/tipo-usuario/{{ p.id }}">  Editar</a></td>
						<td><a href="#myModal" role="button" class="btn btn-danger delete" data-toggle="modal" id="{{p.id}}" data-name="{{p.nombre}}"><i class="icon-trash icon-white"></i>Eliminar</a></td>
					{% endif %}
					
					<td>

					
		
				</tr>
			</tbody>
		{% endfor %}




		
	

	</table>
	<a class = "btn btn-inverse" href="/administrar/"></li>  Regresar al menú del administrador </a>
	<br>
	<a class = "btn btn-inverse" href="/usuarios/"></li>  Ir al menú usuarios </a>
		

	{% else %}
		<h2>No existen tipos de usuarios</h2>

	{% endif %}
{% endblock %}
